.Container-body{
	width: 100%;
	display: flex;
	animation: into .5s linear;
}
.none{
	display: none;
	animation: fade .3s linear;
	position: absolute;
	top: 90px;
	left: 0px;
}
.notPicked{
	display: none;
}
a{
	text-decoration: none;
}
@keyframes fade {
	0%{
		display: flex;
		opacity: 1;
		transform: translateX(0px);
	} 99% {
		transform: translateX(50vh);
	} 100% {
		display: none;
		opacity: 0;
	}
}
@keyframes into {
	0%{
		opacity: 0;
		transform: translateX(-200px);
	} 99% {
		opacity: 1;
		transform: translateX(0px);
	}
}
.Right-Contents{
	width: 100%;
	height: 90vh;
	overflow: hidden;
	overflow-y: scroll;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: rgb(193, 243, 243);
	padding: 40px 30px;
}
.Right-Contents::-webkit-scrollbar{
	display: none;
}
.Right-Contents .EachContent{
	width: 100%;
	height: 600px;
	overflow: hidden;
}
.Right-Contents .EachContent img{
	margin: 10px 20px;
	display: block;
	width: 300px;
	height: 300px;
}
.Left-bar{
	width: 200px;
	background-color: #7c7a8fc6;
}
.Left-bar .li_buttons{
	width: 200px;
	display: flex;
	justify-content: center;
	background-color:	transparent;
}
.Left-bar h1{
	color: beige;
	text-align: center;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #605c86c6;
}
.Left-bar .li_buttons button, .Left-bar .li_buttons a{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 40px;
	border: 0;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 700;
	background: transparent;
	color: #c7c4db;
	transition: all .4s;
}
.Left-bar .li_buttons button:hover{
	background-color: #8d8ba5c6;
}
.Left-bar .li_buttons button:focus{
	background-color: #605c86c6;
	filter: drop-shadow(5px 5px 10px black);
	animation: infocus .4s linear;
}
@keyframes infocus{
	from{
		filter: drop-shadow(0px 0px 0px black);
	}
	to{
		filter: drop-shadow(5px 5px 10px black);
	}
}

